<app-header></app-header>
<!-- Comentario para hacer commit -->
<div class="contenedor">
  <div class="list-sample">
    <igx-list [allowLeftPanning]="true" [allowRightPanning]="true" #mainIgxList
      style="overflow-y: scroll; overflow-x: hidden; padding-bottom: 10%;">
      <ng-template igxListItemLeftPanning>
        <div class="listItemLeftPanningStyle">
          <igx-icon>delete</igx-icon>Delete
        </div>
      </ng-template>
      <ng-template igxListItemRightPanning>
        <div class="listItemRightPanningStyle">
          <igx-icon>call</igx-icon>Dial
        </div>
      </ng-template>
      <igx-list-item isHeader="true" style="font-size: 28px; font-weight:bold; margin-bottom:15px;">Hoteles
      </igx-list-item>
      <igx-list-item class="lista" #item *ngFor="let hotel of hoteles" igxRipple="pink"
        igxRippleTarget=".igx-list__item-content" (click)="abrir(lugar._id)" s style="cursor:pointer;">
        <igx-avatar class="img" igxListThumbnail [src]="hotel.foto"></igx-avatar>
        <span class="lugarTitulo" (click)="abrir(hotel._id)" igxListLineTitle>{{ hotel.nombre }}</span>
        <span class="tipo" (click)="abrir(hotel._id)" igxListLineSubTitle>{{ hotel.tipo }}</span>
        <span class="precio" (click)="abrir(hotel._id)" igxListLineSubTitle>Precio por persona: ${{ hotel.precio }}
          MXN</span>
      </igx-list-item>
    </igx-list>
    <igx-toast #toast></igx-toast>
  </div>
</div>


<app-footer></app-footer>
