<app-header></app-header>

<div class="list-sample">
    <igx-list [allowLeftPanning]="true" [allowRightPanning]="true" #mainIgxList>
        <ng-template igxListItemLeftPanning>
            <div class="listItemLeftPanningStyle">
                <igx-icon>delete</igx-icon>Delete
            </div>
        </ng-template>
        <ng-template igxListItemRightPanning>
            <div class="listItemRightPanningStyle">
                <igx-icon>call</igx-icon>Dial
            </div>
        </ng-template>
        <igx-list-item isHeader="true">Lugares</igx-list-item>
        <igx-list-item #item *ngFor="let lugar of lugares" igxRipple="pink" igxRippleTarget=".igx-list__item-content" style="cursor:pointer;">
            <igx-avatar igxListThumbnail [src]="lugar.photo" roundShape="true"></igx-avatar>
            <span (click)="abrir(lugar._id)" igxListLineTitle>{{ lugar.nombre }}</span>
            <span (click)="abrir(lugar._id)" igxListLineSubTitle>{{ lugar.estado }}</span>
            <span (click)="abrir(lugar._id)" igxListLineSubTitle>{{ lugar.tipo }}</span>
            <igx-icon igxListAction [style.color]="lugar.isFavorite ? 'orange' : 'lightgray'" (click)="toggleFavorite(lugar)">star</igx-icon>
        </igx-list-item>
    </igx-list>
    <igx-toast #toast></igx-toast>
</div>

<app-footer></app-footer>