
@media (min-width: 600px) {
  .contenedor {
    display: flex;
  }
}

@media (max-width: 600px) {
  .list-sample {
    display:  inline;
  }
}

@media (max-width: 600px) {
  .formulario {
    display:  grid;
  }
}

.list-sample {
  width: 70%;
  height: 90vh;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

igx-icon {
  cursor: pointer;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 46%;
}

.lugarTitulo {
  font-size: 22px;
  font-weight: bold;
}

.estado {
  font-size: 16px;
}

.tipo {
  font-size: 15px;
  font-weight: bold;
}

.precio {
  font-size: 14px;
}

.filtros {
  
  width: 30%;
  padding: 15px;
}

.listItemLeftPanningStyle {
  display: flex;
  flex-direction: row-reverse;
  background-color: orange;
  color: white;
  width: 100%;
  padding-right: 10px;
  align-items: center;
}

.listItemRightPanningStyle {
  display: flex;
  flex-direction: row;
  background-color: limegreen;
  color: white;
  width: 100%;
  padding-left: 10px;
  align-items: center;
}

.titulo-filtro {
  margin-bottom: 20px;
}

.set-width {
  width: 70px;
  text-align: center;
}

.number-input {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.checkbox {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.btn {
  margin-top: 15px;
  width: 200px;
}

.formulario {
  padding-left: 20px;
}
