<app-header></app-header>
<div>
<div class="contenedor">
  <div class="list-sample">
    <igx-list [allowLeftPanning]="true" [allowRightPanning]="true" #mainIgxList style="overflow-y: scroll; overflow-x: hidden; padding-bottom: 10%;">
      <ng-template igxListItemLeftPanning>
        <div class="listItemLeftPanningStyle">
          <igx-icon>delete</igx-icon>Delete
        </div>
      </ng-template>
      <ng-template igxListItemRightPanning>
        <div class="listItemRightPanningStyle">
          <igx-icon>call</igx-icon>Dial
        </div>
      </ng-template>
      <igx-list-item isHeader="true" style="font-size: 28px; font-weight:bold; margin-bottom:15px;">Lugares
      </igx-list-item>
      <igx-list-item class="lista" #item *ngFor="let lugar of lugares" igxRipple="pink"
        igxRippleTarget=".igx-list__item-content" (click)="abrir(lugar.id)" s style="cursor:pointer;">
        <igx-avatar class="img" igxListThumbnail [src]="lugar.foto"></igx-avatar>
        <span class="lugarTitulo" (click)="abrir(lugar.id)" igxListLineTitle>{{ lugar.nombre }}</span>
        <span class="estado" (click)="abrir(lugar.id)" igxListLineSubTitle>{{ lugar.estado }}</span>
        <span class="tipo" (click)="abrir(lugar.id)" igxListLineSubTitle>{{ lugar.tipo }}</span>
        <span class="precio" (click)="abrir(lugar.id)" igxListLineSubTitle>Precio por persona: ${{ lugar.precio }}
          MXN</span>
      </igx-list-item>
    </igx-list>
    <igx-toast #toast></igx-toast>
  </div>

  <div class="filtros">
    <h5 class="titulo-filtro">Filtros</h5>
    <div class="formulario">
      <label for="museo" class="checkbox"> <input [checked]="filtrado['Museo']" type="checkbox" name="museo" id="" (click)="filtro('Museo')"> Museo</label>
      <label for="zonaA" class="checkbox"> <input [checked]="filtrado['Zona Arqueológica']" type="checkbox" name="zonaA" id="" (click)="filtro('Zona Arqueológica')"> Zona Arqueológica</label>
      <label for="playa" class="checkbox"> <input [checked]="filtrado['Playa']" type="checkbox" name="playa" id="" (click)="filtro('Playa')"> Playa</label>
      <label for="pMagico" class="checkbox"> <input [checked]="filtrado['Pueblo Mágico']" type="checkbox" name="pMagico" id="" (click)="filtro('Pueblo Mágico')"> Pueblo mágico</label>

      <label for="monumento" class="checkbox"> <input [checked]="filtrado['Monumento']" type="checkbox" name="monumento" id="" (click)="filtro('Monumento')"> Monumento</label>
      
      <label for="pMin" class="number-input"> <input [(ngModel)]="minValue" (keyup)=funcionMin($event) class="set-width" placeholder="0" type="number" name="pMin" maxlength="5" minlength="1" max="5000" min="0">Precio min.</label>

      <label for="pMax" class="number-input"> <input [(ngModel)]="maxValue" (keyup)=funcionMax($event) class="set-width" placeholder="5000" type="number" name="pMax" maxlength="5" minlength="1" max="5000" min="0">Precio max.</label>


      <button class="btn btn-dark" (click)="buscar()">Buscar</button>
      <button class="btn btn-dark" (click)="limpiar()">Limpiar</button>
    </div>
  </div>

</div>
</div>


<app-footer></app-footer>
