<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a style="cursor:pointer;" >
      <!--span class="navbar-brand" [routerLink]="['/']" style="font-size: 30px;">{{ title }}</span-->
      <img class="navbar-brand" [routerLink]="['/']" src="/assets/Logo.png" width="30%">
      <!--img class="navbar-brand" *ngIf="muestraBoton" [routerLink]="['/']" src="/assets/img/pngwing.com.png" width="5%" (click)="goBack()" style="margin-left: 100‒;margin-left: 80px;"-->
      <img class="navbar-brand" *ngIf="muestraBoton" [routerLink]="['/']" src="/assets/img/pngwing.com.png" width="5%" (click)="goBack()" style="margin-left: 50%;">
      <!--igx-avatar *ngIf="muestraBoton" igxListThumbnail src="/assets/img/back-button.png" (click)="goBack()"></igx-avatar-->
    </a>
  </div>
</nav>