.descripcion {
  border: 2.5px solid #000000;
}
#verHoteles {
  display: flex;
  align-items: center;
}
.foto {
  width: 97%;
  height: auto;
}
#comentarios {
    height:220px;
    overflow-y: scroll;
}
.border1{
  margin-top: 50px;
}
#descripcion {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  height: 10%;
  color: #1e2d99b8;
  font-weight: normal;
  font-size: 40px;
  font-family: Cursive;
  text-transform: uppercase;
}

h2{
  color: #000000b8;
  font-weight: normal;
  font-size: 36px;
  font-family: Cursive;
  text-transform: uppercase;
}

h4{
  color: #000000b8;
  font-weight: normal;
  font-size: 20px;
  font-family: Cursive;
  text-transform: uppercase;
}

p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  color: #000000b8;
  font-weight: normal;
  font-size: 16px;
  font-family: Cursive;
  text-transform: uppercase;
}