<app-header></app-header>

<div>
  <div class="container-fluid">
    <div class="row">
      <h1 align="center">{{lugar.nombre}}</h1>
      <div class="col-sm-5">
        <div>
          <img src="{{lugar.foto}}" class="foto" alt="Image did not load...">
        </div>
        <div class="container">
          <h2>Comentarios</h2>
          <div id="comentarios">
            <table class="table table-hover table-responsive">
              <tbody>
                <tr *ngFor="let comentario of comentarios">
                  <td>{{ comentario.fecha }}<br>{{ comentario.usuario }}<br>{{ comentario.descripcion }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="input-group">
            <button class="btn btn-secondary" type="button" (click)="comentar()">
              Comentar
            </button>
            <input class="form-control" (keyup)="guardaComentario($event)">
          </div>
        </div>
      </div>
      <div class="col-sm-7" style="display: grid;">
        <button class="btn btn-secondary" type="button" (click)="abrir(lugarId)"> Ver Mapa</button>
        <h4>Tipo: {{lugar.tipo}} </h4>
        <h4>Descripción:</h4>
        <div class="descripcion">
          <p id="descripcion">{{lugar.descripcion}}</p>
        </div>
        <div class="container-fluid border1">
          <div class="row">
            <div class="col-sm-8">
              <h4>Precio:</h4>
              <p>${{lugar.precio}} MXN</p>
              <h4>Horarios:</h4>
              <p>{{lugar.horarios}}</p>
            </div>
            <div class="col-sm-4" id="verHoteles">
              <button class="btn btn-secondary" type="button" (click)="abrirHoteles()">
                Ver hoteles
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <br>
</div>

<app-footer></app-footer>
